:root {
    --pastel-pink: #e09ba2ff;
    --cordovan: #904e55ff;
    --magnolia: #ece5f0ff;
    --fulvous: #e98a15ff;
    --cultured: #f7f7f7ff;
}
@import "custom";
@import "~bootstrap/scss/bootstrap"